<div class="hero-image">
  <div class="hero-text">
    <h1>My name is Daniel Bidulock</h1>
    <p>I am a Web Developer and Wycliffe Bible Translator</p>
    <%- partial('_partial/cta-button') %>
  </div>
</div>
