<% //var since = theme.footer.since %>
<% //var year = date(new Date(), 'YYYY') %>

<footer class="footer">
	<div class="inner">
		<div class="copyright">
                        <p>
                          Support my work through <a href="https://www.wycliffe.ca/projects/dan-bidulock/">Wycliffe</a> or <a href="https://patreon.com/whatdandoes">Patreon</a>
                        </p>

			<a href="https://hexo.io" target="_blank">Hexo</a> theme by <a href="https://github.com/Lemonreds/hexo-theme-Nayo" target="_blank">Nayo</a>
		</div>
	</div>
</footer>
